// Custom styles.
@media screen and (min-width:1000px){
.header-inner {
    box-shadow: 6px 12px 14px 2px rgba(0,0,0,0.14), 4px 8px 10px 2px rgba(0,0,0,0.08), 4px 8px 12px 2px rgba(0,0,0,0.14);
    border-radius: 10px;
    margin-top: 6px;
}
.sidebar-inner{
  box-shadow: 6px 12px 14px 2px rgba(0,0,0,0.14), 4px 8px 10px 2px rgba(0,0,0,0.08), 4px 8px 12px 2px rgba(0,0,0,0.14);
  border-radius: 10px;
  margin-top: 8px;
}

.content-wrap{
    box-shadow: 6px 12px 14px 2px rgba(0,0,0,0.14), 4px 8px 10px 2px rgba(0,0,0,0.08), 4px 8px 12px 2px rgba(0,0,0,0.14);
    border-radius: 12px;
    margin-top: 6px;
}
}